.card {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 0.5rem;
  user-select: none;
  background-color: white;
  height: 100%;
  aspect-ratio: 52 / 72;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 48px;
  min-height: 48px;
}

.card__current-points--reduced {
  color: red;
}

.card__current-points--increased {
  color: green;
}
